:root {
  --color-surface: white;
  --color-primary-bg: #020b16;
  --color-primary-text:#bbe1fa;
  --color-s-bg:#1e2129;
  --color-s-text:#4e7086;
  --tooltip-title:#00acc1;
  --tooltip-grey:grey;
  --tool-tip-yellow:#fed700;
}
*, ::after, ::before {
  box-sizing: border-box;
  outline: none !important;
}
